[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
py-cord = "*"
asyncio = "*"
python-dotenv = "*"
aiofiles = "*"
reactivex = "*"
table2ascii = "*"
dacite = "*"
numpy = "*"
pygrok = "*"

[dev-packages]
flake8 = "*"
flake8-async = "*"
faker = "*"
pyright = "v1.1.402"

[scripts]
lint = "flake8"
typecheck = "pyright -p ."

[requires]
python_version = "3.11"

